{% extends 'base.html' %}


{% block title %}
    NewsPortal - Главная
{% endblock title %}


{% block header %}
    Главная страница
{% endblock header %}


{% block content %}
    <div id="logo" class="jumbotron">
    <div class="container">
      <h1 class="display-3">Новостной Портал</h1>
      <p>Последние новости академии ШАГ (интервью с хеппи-менеджерами, студентами, преподами, админами, экспертами, откроения сотрудников, скандалы, интриги, расследования)</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать детали &raquo;</a></p>
    </div>
  </div>
    <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Новости Python</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Новости HTML</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Новости CSS</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>
{% endblock content %}
