{% extends 'base.html' %}


{% block title %}
    Просмотр детальной информации
{% endblock title %}


{% block header %}
    Просмотр детальной информации
{% endblock header %}


{% block content %}
    <div id="main_box" class="container">
        <h3>Просмотр детальной информации</h3>
        <hr class="my_row">
    </div>
    <style>
        #main_box {
            margin-top: 30px;
            text-align: center;
        }
        .my_row {
            border-color: gray;
            margin-top: 25px;
        }
    </style>
{% endblock content %}
