{% extends 'base.html' %}


{% block title %}
    NewsPortal - Новости
{% endblock title %}


{% block header %}
    Новости
{% endblock header %}


{% block content %}
    <div id="main_box" class="container">
        <h3>Новости</h3>
        <hr class="my_row">
        {% if user == 'student1' %}
            <a href="/news/create">Добавить новость</a>
        {% endif %}
        <hr class="my_row">
    </div>
    <style>
        #main_box {
            margin-top: 30px;
            text-align: center;
        }
        .my_row {
            border-color: gray;
            margin-top: 25px;
        }
    </style>
{% endblock content %}
